<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="10" configfailurepolicy="skip" parallel="tests">

    <test name="E2E Test of EAApp">
        <classes>
            <class name="com.ea.SpringBasic.runner.TestRunner"></class>
        </classes>
    </test>
</suite>
        